body{
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px
  color: #b566ff
}
body{
  background-color: #e6ccff
  }
  body{
    color: #b566ff
    }
    body{
      text-align: center;
      }
.moradito{ color: #ce99ff
  }
p{ background-color: white
}
p{ color:  #dd99ff
}
